

$font_main: "Source Sans Pro", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif
$font_contrast: "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif

$cA: #33489a
$cB: #2194cc
$cC: #61E2FF
$cG: #505050
$cH: #a0a0a0
$cT: #505050

