

.container
	max-width: $bp_full
	margin: 0 auto
	@include clearfix

.left-sidebar
	margin-top: 2em 
	padding: 0 2em 0 0
	width: 25%
	float: left
	
.main
	margin-top: 2em
	margin-bottom: 4em
	width: 75%
	float: left
	
.main-wide
	margin-top: 4em
	margin-bottom: 4em
	width: 100%


// ------------------------------------------
// reusable grid modules	

.cols-row
	width: 100%
	padding-right: $cols-gutter
	clear: both
	@include clearfix
	
.cols-half
	width: 50%
	padding-right: $cols-gutter
	float: left

.cols-small
	width: 25%
	padding-right: $cols-gutter
	float: left


// --------------------------------------------
// FOOTER

.footer
	margin-top: 4em
	padding-top: 1em
	padding-bottom: 6em
	clear: both
	@include clearfix	
	border-top: 1px solid $cH1
	color: $cH

.footer-left,
.footer-right
	width: 50%
	float: left


